<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Please pick a number</p>
<ul>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="1" name="guess"><button type="submit">1</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="2" name="guess">
            <button type="submit">2</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="3" name="guess"><button type="submit">3</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="4" name="guess"><button type="submit">4</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="5" name="guess"><button type="submit">5</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="6" name="guess"><button type="submit">6</button></form></li>
</ul>

<h1>Your guess was <span th:text="${guess}"></span></h1>
<h1>The roll was <span th:text="${randomNum}"></span></h1>
<h3 th:if="${guess} == ${randomNum}">You guessed right</h3>
<h3 th:if="${guess} != ${randomNum}">You guessed wrong</h3>

</body>
</html>