<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Please pick a number</p>
<ul>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="1" name="guess"><button type="submit">1</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="2" name="guess">
            <button type="submit">2</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="3" name="guess"><button type="submit">3</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="4" name="guess"><button type="submit">4</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="5" name="guess"><button type="submit">5</button></form></li>
    <li>
        <form action="/rollDice" method="post">
            <input type="hidden" value="6" name="guess"><button type="submit">6</button></form></li>
</ul>

</body>
</html>